<template>
  <div class="flc-header">
    <section class="container-custom is-vertical">
      <header class="el-header">
        <el-row :gutter="20">
          <el-col :span="6">
            <div class="logo">
              <a class="account-link" href="javascript:void(0)" @click="backHome">
                <el-image
                  style="width: 130px"
                  :src="url">
                </el-image>
              </a>
            </div>
          </el-col>
          <el-col :span="6" :offset="12">
            <div class="menu-account">
              <div class="el-badge notification">
                <!-- <button type="button" class="el-button el-button--default el-button--small is-circle">
                  <i class="el-icon-message-solid"></i>
                </button>
                <sup class="el-badge__content el-badge__content--undefined is-fixed">3</sup> -->
              </div>
              <div class="username">
                <el-dropdown trigger="click">
                  <span class="el-dropdown-link" v-if="me">
                    {{ me.name }} <i class="el-icon-arrow-down el-icon--right"></i>
                  </span>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item icon="el-icon-setting"><a class="account-link" href="javascript:void(0)" @click="setting">Cài đặt</a></el-dropdown-item>
                    <el-dropdown-item icon="el-icon-switch-button" divided> <a class="account-link" href="javascript:void(0)" @click="logout">Đăng xuất</a></el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
              <div class="avatar">
                <span class="el-avatar el-avatar--icon el-avatar--circle"><i class="el-icon-user-solid"></i></span>
              </div>
            </div>
          </el-col>
        </el-row>
      </header>
    </section>
  </div>
</template>

<script>
const Cookie = process.client ? require('js-cookie') : undefined
import {QUERY_USER} from '../../apollo/gql/auth';

// Component def 
export default {
  name: 'Header',
  components: {

  },
  // Local state
  data: () => ({
    url: 'https://www.flc.vn/countdown-2019/images/FLC_Group.png',
    me: [],
  }),
  // Apollo GraphQL
  apollo: {
      me: {
          query: QUERY_USER,
          fetchPolicy: 'network-only',
      },
  },
  methods: {
    logout () {
      Cookie.remove('auth');
      this.$store.commit('setAuth', null);
      this.$router.push('/');
      localStorage.removeItem('user-token')
    },
    setting () {
      this.$router.push('/setting')
    },
    backHome () {
      this.$router.push('/dashboard')
    }
  }
};

</script>
<style scoped>
  .avatar .el-avatar {
      width: 35px;
      height: 35px;
      line-height: 35px;
      font-size: 14px;
  }
</style>