<template>
    <div class="flc-sidebar">
        <el-row class="tac">
            <el-col :span="24">
                <div class="navigator-header"><i class="el-icon-menu"></i> Navigator</div>
                <el-menu
                default-active="2"
                class="el-menu-vertical-demo"
                @open="handleOpen"
                @close="handleClose"
                background-color="#545c64"
                text-color="#fff"
                active-text-color="#ffd04b">
                <el-submenu index="1">
                    <template slot="title">
                      <i class="el-icon-help"></i>
                      <span>Ghi nhận sự cố</span>
                    </template>
                    <el-menu-item index="1-1">
                        <i class="el-icon-plus"></i>
                        <nuxt-link :to="'/issue/create'" class="menu-item">
                            Thêm mới ghi nhận sự cố
                        </nuxt-link>
                    </el-menu-item>
                    <el-menu-item index="1-2">
                        <i class="el-icon-plus"></i>
                        <nuxt-link :to="'/issue/list'" class="menu-item">
                            Danh sách sự cố
                        </nuxt-link>
                    </el-menu-item>
                </el-submenu>
                <el-submenu index="2">
                    <template slot="title">
                      <i class="el-icon-user"></i>
                      <span>Nhà cung cấp</span>
                    </template>
                    <el-menu-item index="1-1">
                      <i class="el-icon-plus"></i>
                      <nuxt-link :to="'/vendor/create'" class="menu-item">
                          Thêm mới nhà cung cấp
                      </nuxt-link>
                    </el-menu-item>
                    <el-menu-item index="1-2">
                      <i class="el-icon-plus"></i>
                      <nuxt-link :to="'/vendor/list'" class="menu-item">
                          Danh sách nhà cung cấp
                      </nuxt-link>
                    </el-menu-item>
                </el-submenu>
                <!-- <el-menu-item index="4">
                    <i class="el-icon-s-claim"></i>
                    <nuxt-link :to="'/list'" class="menu-item">
                        Danh sách sự cố, nhà cung cấp
                    </nuxt-link>
                </el-menu-item> -->
                <el-menu-item index="4">
                    <i class="el-icon-setting"></i>
                      <nuxt-link :to="'/setting'" class="menu-item">
                          Cài đặt
                      </nuxt-link>
                </el-menu-item>
                </el-menu>
            </el-col>
        </el-row>
    </div>
</template>
<style>
  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 260px;
    min-height: calc(100vh - 165px);
  }
</style>

<script>
  export default {
    name: 'Sidebar',
    data() {
      return {
        isCollapse: true
      };
    },
    methods: {
      handleOpen(key, keyPath) {
        // console.log(key, keyPath);
      },
      handleClose(key, keyPath) {
        // console.log(key, keyPath);
      }
    }
  }
</script>