<template>
  <div class="container-main el-container">
    <Sidebar />
    <div class="content-main create-issue">
        <h3 class="title">Cập nhật tài khoản</h3>
        <FormUser
            v-if="me"
            :form="me"
            @my-event="updateUser($event)"/>
        <div class="space"></div>
    </div>
  </div>
</template>

<script>
import {QUERY_USER, UPDATE_USER} from '../../apollo/gql/auth';
import Sidebar from '../../components/sidebar/sidebar-left';
import FormUser from './formUser';

// Component def 
export default {
    name: 'EditUser',
    components: {
        Sidebar,
        FormUser
    },
    // Local state
    data: () => ({
        errors: [],
    }),
    // Apollo GraphQL
    apollo: {
        me: {
            query: QUERY_USER,
            fetchPolicy: 'network-only'
        }
    },
    methods: {
        updateUser(event){
            console.log(event);
            if(!event.name){
                this.$notify.error({
                    title: 'Thông báo',
                    message: 'Tên hiển thị không được bỏ trống',
                });
                return;
            }
            
            if(!event.email){
                this.$notify.error({
                    title: 'Thông báo',
                    message: 'Email không được bỏ trống',
                });
                return;
            }

            const loading = this.$loading({
                lock: true,
                text: 'Vui lòng chờ !',
                spinner: 'el-icon-loading',
                background: 'rgba(255, 255, 255, 0.7)'
            });
            
            this.$apolloProvider.clients.defaultClient.mutate({
                // Query
                mutation: UPDATE_USER,
                // Parameters
                variables: event
            }).then((data) => {
                if (data.data) {
                    this.$notify.success({
                        title: 'Thành công',
                        message: 'Đã cập nhật thành công',
                    });
                    setTimeout(() => {
                        loading.close();
                        this.$router.push({
                            path: "/dashboard"
                        })
                    }, 1500);
                    this.$apollo.queries.me.refresh();
                }
            }).catch(({graphQLErrors}) => {
                setTimeout(() => {
                    loading.close();
                }, 1500);
                if(graphQLErrors){
                    for (let i = 0; i < graphQLErrors.length; i++) {
                        if (graphQLErrors[i].validation) {
                            Object.keys(graphQLErrors[i].validation).forEach(key => {
                                for (let j = 0; j < graphQLErrors[i].validation[key].length; j++) {

                                    setTimeout(_=>{
                                        this.$notify.error({
                                            title: 'Lỗi',
                                            message: graphQLErrors[i].validation[key][j],
                                        });
                                    })
                                }
                            });
                        } else {
                            setTimeout(() => {
                                loading.close();
                            }, 1500);
                            this.$notify.error({
                                title: 'Lỗi',
                                message: graphQLErrors[i].message,
                            });
                        }
                    }
                }
                this.loading = false;
            })
        }
    },
  // Computed properties
    computed: {

    }
};

</script>
