<template>
    <el-card
        shadow="always">
        <el-form
            ref="form"
            :model="form"
            class="post-form"
            label-position="top"
            label-width="200px">
            <el-row :gutter="20">
                <el-col 
                    :sm="8" 
                    :xs="24">
                    <h5><span class="text-danger">*</span> Tên hiển thị:</h5>
                    <el-form-item>
                        <el-input 
                            v-model="form.name" 
                            placeholder="Nhập tên hiển thị"/>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-form-item class="mt-3">
                <el-button @click="onSubmit" type="primary"><i class="el-icon-check"></i> Ghi nhận</el-button>
                <el-button @click="onBack"><i class="el-icon-back"></i> Quay lại</el-button>
            </el-form-item>
        </el-form>
    </el-card>
</template>

<script>
import _ from 'lodash';

// Component def 
export default {
    name: 'FormUser',
    components: {

    },
    props: {
        form: {
            type: Object,
            default() {
                return {

                };
            },
        },
    },
  // Local state
    data() {
        return {

        };
    },
    // Apollo GraphQL
    apollo: {

    },
    methods: {
        onBack(){
            this.$router.push({path: "/dashboard"});
        },
        onSubmit(){
            this.$emit('my-event',this.form);
        },
    },
     // Computed properties
    mounted() {

    }
};

</script>
<style scoped>

</style>