<template>
  <div>
      <Header />
      <EditIssue />
      <Footer />
  </div>
</template>

<script>
   import {ISSUE_VIEW} from '../../../apollo/gql/issue';
   import EditIssue from '../../../components/issues/editIssue';
   import Footer from '../../../components/footer/footer';
   import Header from '../../../components/header/header';
  
  var statusError = true;

  export default {
      middleware: 'authenticated',
      layout: 'default',
      name: 'IssueEdit',
      asyncData () {
        return new Promise((resolve) => {
          setTimeout(function () {
            resolve({ name: 'world' })
          }, 1000)
        })
      },
      components: {
        EditIssue,
        Footer,
        Header
      },
      apollo: {
        //   getIssueByID: function () {
        //       return {
        //           query: ISSUE_VIEW,
        //           variables() {
        //               return {
        //                   id: this.$route.params.id,
        //               }
        //           },
        //           fetchPolicy: 'network-only',
        //           result ({ data, loading, networkStatus }) {
        //             // console.log(data.getIssueByID);
        //             if (!data && statusError === true) {
        //               this.$nuxt.error({ statusCode: 404, message: 'Xự cố này đã bị xóa hoặc không tồn tại.' })
        //               statusError = false;
        //             }
        //           }
        //       };
        //   },
      },
  };

</script>

<style scoped>

</style>
