<template>
  <div class="container-main el-container">
    <Sidebar />
    <div class="content-main">
      <!-- <div v-for="issue in getAllIssue" :key="issue.id">
          <nuxt-link :to="'/issue/'+ issue.id">
              {{ issue.vendorIssueName }}
          </nuxt-link>
      </div> -->
    </div>
  </div>
</template>

<script>
import Sidebar from '../components/sidebar/sidebar-left';

// Component def 
export default {
  name: 'Dashboard',
  components: {
    Sidebar
  },
  // Local state
  data: () => ({
    issues: [],
    loading: 0
  }),
  // Computed properties
};

</script>
