<template>
  <div class="container-main el-container">
    <Sidebar />
    <div class="content-main vendor-issue">
        <el-row class="header-main">
            <el-col :span="16"><h3 class="title">Danh sách sự cố nhà cung cấp</h3></el-col>
            <el-col :span="8" align="right">
                <el-button @click="listAction" type="success" class="create"><i class="el-icon-tickets"></i> List</el-button>
                <el-button @click="kanbanAction" type="primary" class="edit"><i class="el-icon-s-grid"></i> Kanban</el-button>
            </el-col>
        </el-row>
      <el-row :gutter="20">
          <el-col 
            :sm="18" 
            :xs="24">
          </el-col>
          <el-col 
              :sm="4" 
              :xs="24"
              class="filter">
              <el-select v-model="vendorID" clearable placeholder="Nhà cung cấp" class="vendor assign">
                  <el-option
                  v-for="item in dataVendor"
                  :key="item.id"
                  :label="item.vendorName"
                  :value="item.id">
                  </el-option>
              </el-select>
          </el-col>
          <el-col 
              :sm="4" 
              :xs="24"
              class="filter">
              <el-select v-model="assignID" clearable placeholder="Người xử lý" class="assign">
                  <el-option
                  v-for="item in users"
                  :key="item.id"
                  :label="item.name+' ('+item.email+')'"
                  :value="item.id">
                  </el-option>
              </el-select>
          </el-col>
          <el-col 
              :sm="5" 
              :xs="24"
              class="filter">
                <el-date-picker
                    v-model="dateRange"
                    type="datetimerange"
                    start-placeholder="Từ ngày"
                    end-placeholder="Đến ngày"
                    :default-time="['12:00:00']"
                    format="yyyy/MM/dd"
                    class="datetime-picker">
                </el-date-picker>
          </el-col>
          <el-col 
              :sm="4" 
              :xs="24"
              class="filter">
              <el-select v-model="status" clearable placeholder="Trạng thái" class="status">
                  <el-option
                  v-for="item in statusOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                  </el-option>
              </el-select>
          </el-col>
          <el-col 
              :sm="4" 
              :xs="24"
              class="filter">
              <el-input
                placeholder="Nhập từ khóa tìm kiếm"
                prefix-icon="el-icon-search"
                v-model="searchType">
              </el-input>
          </el-col>
          <el-col 
              :sm="2" 
              :xs="24"
              class="filter">
              <download-excel
                  class   = "el-button el-button--primary"
                  :data   = "dataExport"
                  :fields = "json_fields"
                  :title = "dateExport"
                  worksheet = "FLC Worksheet"
                  name    = "ITFLC-Export.xls">
                  <i class="el-icon-download"></i><span>Xuất</span>
              </download-excel>
          </el-col>
      </el-row>
      <el-row></el-row>
      <div class="scroll">
        <div class="items">
          <div class="item" v-for="vendor in AllVendor" :key="vendor.id">
            <div class="item-header">
              <nuxt-link :to="'/vendor/'+ vendor.id">
                {{ vendor.vendorName }} <span class="red">({{ vendor.total }})</span>
              </nuxt-link>
            </div>
            <IssueList 
              :idvendor="vendor.id"
              :idassign="assignID"
              :searchtext="searchType"
              :daterange="dateRange"
              :status="status" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {ALL_VENDOR_QUERY} from '../apollo/gql/vendor';
import {ISSUE_VIEW_BY_VENDOR} from '../apollo/gql/issue';
import Sidebar from '../components/sidebar/sidebar-left';
import IssueList from './list/issuelist';
import {ALL_USER} from '../apollo/gql/auth';
import moment from 'moment';

// Component def 
export default {
  name: 'ListVendorIssue',
  components: {
    Sidebar,
    IssueList
  },
  // Local state
    data() {
        return {
          issue: [],
          vendor: [],
          AllVendor: [],
          loading: 0,
          assignID: '',
          vendorID: '',
          searchType: '',
          status: '',
          dateRange: [],
          json_fields: {
            'Tên sự cố': 'vendorIssueName',
            'Nhà cung cấp': 'vendor.vendorName',
            'Phân loại': 'vendorLabels',
            'Nội dung': 'vendorIssueDescription',
            'Ngày sự cố' : {
                field: 'isDate',
                callback: (value) => {
                    return `${moment(value).format('DD-MM-YYYY H:mm:ss')}`;
                }
            },
            'Tình trạng': 'vendorIssueStatus',
          },
            statusOptions: [{
                value: 'open',
                label: 'Open'
                }, {
                value: 'complete',
                label: 'Complete'
                }, {
                value: 'hold',
                label: 'Hold'
                }, {
                value: 'cancel',
                label: 'Cancel'
            }],
          json_meta: [
              [
                  {
                      'key': 'charset',
                      'value': 'utf-8'
                  }
              ]
          ],
      }
  },
  // Apollo GraphQL
  apollo: {
    AllVendor: {
        query: ALL_VENDOR_QUERY,
        variables() {
            return {
                id: this.vendorID,
            }
        },
        fetchPolicy: 'network-only',
        result ({ data, loading, networkStatus }) {
            if (!data) {
                this.$nuxt.error({ statusCode: 404, message: 'Authenticated Fail' });
            }
        }
    },
    users: {
        query: ALL_USER,
        fetchPolicy: 'network-only',
    },
    getIssueByVendor: {
      query: ISSUE_VIEW_BY_VENDOR,
      variables() {
          return {
              id: this.vendorID,
              assign: this.assignID,
              search: this.searchType,
              enddate: this.dateRange && this.dateRange[1] ? this.dateRange[1] : '',
              startdate: this.dateRange && this.dateRange[0] ? this.dateRange[0] : '',
              status: this.status
          }
      },
      fetchPolicy: 'network-only',
      errorPolicy: 'all',
      result ({ data, loading, networkStatus }) {
          if (!data) {
              this.$nuxt.error({ statusCode: 404, message: 'Authenticated Fail' });
          }
      }
  },
  },
  methods: {
    exportData(event){
        console.log(event);
    },
    listAction(){
        this.$router.push({path: "/issue/list"});
    },
    kanbanAction(){
        this.$router.push({path: "/list"});
    }
  },
  // Computed properties
  computed: {
    dataVendor: function () {
      return this.AllVendor;
    },

    dataExport: function () { 
        return this.getIssueByVendor;
    },
    dateExport: function () {
        if(!this.dateRange){
            return "BÁO CÁO GHI NHẬN SỰ CỐ";
        }else{
            return "BÁO CÁO GHI NHẬN SỰ CỐ <br> <span style='text-transform: unset; font-weight: normal; font-style: italic; font-size: 13px'>Từ ngày "+moment(this.dateRange[0]).format('YYYY-MM-DD H:mm:ss')+" đến ngày "+moment(this.dateRange[1]).format('YYYY-MM-DD H:mm:ss')+"</span>";
        }
    },
    dateFormat: function() {
        return moment(this.value).format('YYYY-MM-DD H:mm:ss');
    },
  }
};

</script>
<style scoped>
    .vendor-issue .items {
        white-space: nowrap;
        overflow-x: scroll;
        min-height: calc(100vh - 300px);
    }

    .vendor-issue .items .item {
        display: inline-block;
        width: 400px;
        min-height: 350px;
        vertical-align: top;
        padding: 20px 40px;
        padding-left: 0;
        padding-top: 0;
        margin-bottom: 50px;
    }

    .vendor-issue .item-body {
        padding: 15px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
    }

    .item-header {
        padding: 5px 15px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        background: #67C23A;
    }

    .item-header a {
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
    }

    .item-header a .red{
        color: red;
        font-size: 16px;
    }

    .vendor-issue {
        overflow: hidden;
    }

    .item-issue a {
        color: #606266;
        font-size: 15px;
    }

    .item-issue p {
        margin: 0;
        padding: 0;
    }

    .item-issue p.date {
        font-size: 12px;
    }

    .vendor-issue .items .item:nth-child(2) .item-header {
        background: #67C23A;
    }

    .vendor-issue .items .item .item-header {
        background: #409EFF;
    }

    .vendor-issue .items .item:nth-child(3) .item-header {
        background: #E6A23C;
    }

    .vendor-issue .items .item:nth-child(4) .item-header {
        background: #909399;
    }

    .vendor-issue .items .item:nth-child(5) .item-header {
        background: #F56C6C;
    }

    .remove-btn {
        border: 0;
        padding: 0;
    }

    .remove-btn:hover {
        background: #fff;
    }

    .filter .assign {
        padding: 0 0 20px;
        float: right;
        width: 100%;
    }

    .datetime-picker {
        width: 100% !important;
    }

</style>
