<template>
    <div>
        <div class="item-body" v-for="issue in getIssueByVendor" :key="issue.id">
            <div class="item-issue">
            <el-row :gutter="20">
                <el-col :span="4">
                    <div class="author-wapper">
                        <template v-if="issue.authorAssign">
                            <el-popover trigger="hover" placement="top">
                                <p v-if="issue.authorAssign"><strong>Người xử lý:</strong> {{ issue.authorAssign.name }}</p>
                                <p><strong>Email:</strong> {{ issue.authorAssign.email }}</p>
                            <el-button slot="reference" class="remove-btn"><el-avatar icon="el-icon-user-solid"></el-avatar></el-button>
                            </el-popover>
                        </template>
                    </div>
                </el-col>
                <el-col :span="20">
                    <div class="wapper-items">
                        <nuxt-link :to="'/issue/'+ issue.id" class="item-name">
                            {{ issue.vendorIssueName }}
                        </nuxt-link>
                        <p class="date"><strong>Ngày sự cố : </strong>{{issue.isDate | formatDate}}</p>
                        <p v-if="issue.authorAssign" class="date"><strong>Người thực hiện : </strong>{{ issue.authorAssign.name }}</p>
                    </div>
                </el-col>
            </el-row>
            </div>
        </div>
    </div>
</template>

<script>
import {ISSUE_VIEW_BY_VENDOR} from '../../apollo/gql/issue';

// Component def 
export default {
  name: 'ListIssueByVendor',
  components: {

  },
    props: {
        idvendor:{
            type:  String,
            default(){
                return ''
            }            
        },
        idassign:{
            type:  String,
            default(){
                return ''
            }            
        },
        searchtext:{
            type:  String,
            default(){
                return ''
            }            
        },
        daterange:{
            type:  Array,
            default(){
                return [];
            }            
        },
        status:{
            type:  String,
            default(){
                return ''
            }            
        },
    },
  // Local state
    data() {
        return {
            id: this.idvendor ? this.idvendor : '',
            getIssueByVendor: [],
            loading: 0
        }
    },
  // Apollo GraphQL
  apollo: {
    getIssueByVendor: {
        query: ISSUE_VIEW_BY_VENDOR,
        variables() {
            return {
                id: this.id,
                assign: this.idassign,
                search: this.searchtext,
                startdate: this.daterange && this.daterange[0] ? this.daterange[0] : '',
                enddate: this.daterange && this.daterange[1] ? this.daterange[1] : '',
                status: this.status
            }
        },
        fetchPolicy: 'network-only',
        errorPolicy: 'all',
        result ({ data, loading, networkStatus }) {
            if (!data) {
                this.$nuxt.error({ statusCode: 404, message: 'Authenticated' });
            }
        }
    },
  },
  // Computed properties
};

</script>
<style scoped>
    .vendor-issue .items {
        white-space: nowrap;
        overflow-x: scroll;
    }

    .vendor-issue .items .item {
        display: inline-block;
        width: 400px;
        min-height: 350px;
        vertical-align: top;
        padding: 20px 40px;
        padding-left: 0;
        padding-top: 0;
        margin-bottom: 50px;
    }

    .vendor-issue .item-body {
        padding: 15px 10px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
    }

    .item-header {
        padding: 15px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        background: #67C23A;
    }

    .item-header a {
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
    }

    .vendor-issue {
        overflow: hidden;
    }

    .item-issue a {
        color: #606266;
        font-size: 15px;
    }

    .item-issue a {
        color: #606266;
        font-size: 15px;
    }

    .item-issue p {
        margin: 0;
        padding: 0;
    }

    .item-issue p.date {
        font-size: 12px;
    }

    .vendor-issue .items .item:nth-child(2) .item-header {
        background: #67C23A;
    }

    .vendor-issue .items .item .item-header {
        background: #409EFF;
    }

    .vendor-issue .items .item:nth-child(3) .item-header {
        background: #E6A23C;
    }

    .vendor-issue .items .item:nth-child(4) .item-header {
        background: #909399;
    }

    .vendor-issue .items .item:nth-child(5) .item-header {
        background: #F56C6C;
    }

    .remove-btn {
        border: 0;
        padding: 0;
    }

    .remove-btn:hover {
        background: #fff;
    }

    .item-body {
        white-space: normal;
    }

    .item-name {
        font-size: 15px !important;
        font-weight: 500;
    }
</style>
