body {
    background: #eee;
}
.logo {
    padding-top: 5px;
}
.menu-account{
    padding-top: 3px;
    float: right;
}
.notification {
    top: -10px;
    right: 25px;
}
.flc-header {
    background: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,0.05), 0 1px 0 rgba(0,0,0,0.05);
    border-bottom: 0;
}
.username {
    display: inline-block;
    position: relative;
    top: -10px;
    right: 10px;
}
.avatar {
    display: inline-block;
    position: relative;
    top: 2px;
}
.flc-footer {
    text-align: center;
    border-top: 1px solid #ddd;
    padding: 15px 0;
    background: #EBEEF5;
}
.flc-footer p{
    margin: 0;
    font-size: 13px;
}
.account-link:hover {
    text-decoration: none;
}
.container-main {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.flc-sidebar {
    float: left;
    text-align: left;
}
.flc-sidebar h5 {
    text-align: center;
}
.flc-sidebar .el-menu-item,
.flc-sidebar .el-submenu__title {
    height: 50px;
    line-height: 50px;
}
.flc-sidebar{
    background: #545c64;
}
.content-main {
    width: calc(100% - 260px);
    text-align: left;
    padding: 0 20px;
}
.content-main{
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    margin: 20px;
    background: #fff;
}
.flc-sidebar .el-menu {
    border-right: 0;
}
.navigator-header {
    background: #545c64;
    color: #fff;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    font-weight: 600;
}
.flc-sidebar .menu-item {
    font-size: 14px;
    color: #fff;
}
.flc-sidebar .menu-item:hover {
    text-decoration: none;
}
.title {
    color: #606266;
    padding: 20px 0;
}
.space{
    padding: 10px 0;
}
.create {
    margin: 20px 0 !important;
    display: inline-block;
}
.edit {
    margin: 20px 0 !important;
    vertical-align: baseline;
}
.detailt .info {
    content: "";
    clear: both;
    display: table;
}

.detailt .info .item {
    width: 50%;
    float: left;
}

.detailt .info .item:nth-child(2n+1) {
    padding-right: 30px;
}

@media (min-width: 1200px){
    .container{
        max-width: 1200px;
    } 
}