<template>
    <div>
        <p>Cài đặt</p>
    </div>
</template>

<script>

// Component def 
export default {
  name: 'General',
  components: {

  },
  // Local state
  data: () => ({

  }),
  // Apollo GraphQL
  apollo: {

  },
  // Computed properties
};

</script>
