<template>
  <div class="container-main el-container">
    <Sidebar />
    <div class="content-main">
        <h3 class="title">Cài đặt</h3>
        <General />
    </div>
  </div>
</template>

<script>
import General from './general';
import Sidebar from '../sidebar/sidebar-left';

// Component def 
export default {
  name: 'SettingMain',
  components: {
    Sidebar,
    General
  },
  // Local state
  data: () => ({

  }),
  // Apollo GraphQL
  apollo: {

  },
  // Computed properties
};

</script>
