<template>
  <div class="flc-footer">
        <section class="container el-container is-vertical">
            <p>© Copyright 2019 - <a href="http://it.flc.vn">ITFLC Group.</a> | Version 1.0.0</p>
        </section>
  </div>
</template>

<script>
// Component def 
export default {
  name: 'Footer',
  components: {

  },
  // Local state
  data: () => ({
    url: 'https://www.flc.vn/countdown-2019/images/FLC_Group.png'
  }),
};

</script>