<template>
  <div class="container">
    <div class="form-login">
      <div class="el-card box-card is-always-shadow">
          <div class="el-card__header">
              <div class="clearfix">
                  <div class="logo-login">
                    <el-image
                      style="width: 200px"
                      :src="urlLogo">
                      </el-image>
                  </div>
              </div>
          </div>
          <div class="el-card__body">
            <section>
                <el-form
                    ref="inputLogin"
                    :model="inputLogin"
                    :rules="rules"
                    class="modal-login-form myvne-form">

                    <el-form-item
                        prop="email">
                        <el-input
                            ref="email"
                            v-model="inputLogin.email"
                            prefix-icon="el-icon-user-solid"
                            placeholder="Tài khoản"/>
                    </el-form-item>

                    <el-form-item
                        class="myvne_password_check"
                        prop="password">
                        <el-input
                            v-model="inputLogin.password"
                            show-password
                            type="password"
                            maxlength="20"
                            prefix-icon="el-icon-lock"
                            placeholder="Mật khẩu"/>
                    </el-form-item>

                    <el-form-item class="width_common btn_myvne">
                        <el-button
                            class="btn_vne btn_normal myvne_button_login is-round"
                            type="primary"
                            @click="postLogin(inputLogin)"><i class="el-icon-switch-button"></i> Đăng nhập</el-button>
                    </el-form-item>
                </el-form>
            </section>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import {LOGIN} from '../apollo/gql/auth';
const Cookie = process.client ? require('js-cookie') : undefined

export default {
  middleware: 'notAuthenticated',
     async asyncData({isServer}) {
       return new Promise((resolve) => {
         setTimeout(function() {
           resolve({asyncLoading: 'world'});
         }, 50);
       });
     },
     data() {
       return {
         showDismissibleAlert: false,
         inputLogin: {
           email: '',
           password: '',
         },
         rules: {
           email: [
             { required: true, message: 'Vui lòng nhập email đăng nhập', trigger: 'blur' },
           ],
           password: [
             { required: true, message: 'Vui lòng nhập mật khẩu', trigger: 'blur' },
           ],
         },
         loggingIn: false,
         submittedLogin: false,
         remember: false,
         errors: [],
         urlLogo: 'https://www.flc.vn/countdown-2019/images/FLC_Group.png'
       };
     },
  methods: {
    postLogin (inputLogin) {
      if(inputLogin.email && inputLogin.password){
        this.$apollo.mutate({
          mutation: LOGIN,
          variables: {
          email: inputLogin.email,
          password: inputLogin.password,
          },
        }).then((data) => {
          // Result
          // console.log(data.data.loginUser);
          const auth = data.data.loginUser;
          this.$message({
            message: 'Đăng nhập thành công!',
            type: 'success'
          });
          this.$apolloHelpers.onLogin(auth.token).then(() => {
              setTimeout(() => { // we simulate the async request with timeout.
                localStorage.setItem('user-token', auth.token)
                this.$store.commit('setAuth', auth) // mutating to store for client rendering
                Cookie.set('auth', auth) // saving token in cookie for server rendering
                this.$router.push('/dashboard')
              }, 1000)
          });
        }).catch((error) => {
          // Error
          console.error(error)
          // We restore the initial user input
        })
      }else{
          this.$message.error('Vui lòng nhập tài khoản và mật khẩu.');
      }
    }
  }
}
</script>

<style scoped>
  .container {
    font-size: 20px;
    text-align: center;
    padding-top: 100px;
  }

  .form-login{
    max-width: 400px;
    margin: 0 auto;
  }

  .form-login h1{
    color: #409EFF;
  }
</style>