<template>
  <div>
      <Header />
      <ListVendorIssue />
      <Footer />
  </div>
</template>

<script>
    import ListVendorIssue from '../components/list';
    import Header from '../components/header/header';
    import Footer from '../components/footer/footer';

    export default {
      middleware: 'authenticated',
      layout: 'default',
      asyncData () {
        return new Promise((resolve) => {
          setTimeout(function () {
            resolve({ name: 'world' })
          }, 1000)
        })
      },
      components: {
        ListVendorIssue,
        Header,
        Footer
      }
    }
</script>

<style scoped>
.container {
  font-size: 20px;
  text-align: center;
  padding-top: 100px;
}
</style>
