<template>
  <div class="issue-detailt">
    <Header />
    <ViewIssue />
      <!-- <div class="detailt">
        <div v-if="getIssueByID">
          <p>Chi tiết sự cố: {{ this.$route.params.id }}</p>  
          <p><pre>{{ getIssueByID }}</pre></p>
        </div>
      </div> -->
    <Footer />
  </div>
</template>

<script>
  import {ISSUE_VIEW} from '../../apollo/gql/issue';
  import Footer from '../../components/footer/footer';
  import Header from '../../components/header/header';
  import ViewIssue from '../../components/issues/viewIssue';
  
  var statusError = true;

  export default {
      middleware: 'authenticated',
      layout: 'default',
      name: 'IssueDetail',
      asyncData () {
        return new Promise((resolve) => {
          setTimeout(function () {
            resolve({ name: 'world' })
          }, 1000)
        })
      },
      components: {
          Footer,
          Header,
          ViewIssue
      },
      apollo: {
          getIssueByID: function () {
              return {
                  query: ISSUE_VIEW,
                  variables() {
                      return {
                          id: this.$route.params.id,
                      }
                  },
                  fetchPolicy: 'network-only',
                  result ({ data, loading, networkStatus }) {
                    // console.log(data.getIssueByID);
                    if (!data && statusError === true) {
                      this.$nuxt.error({ statusCode: 404, message: 'Xự cố này đã bị xóa hoặc không tồn tại.' })
                      statusError = false;
                    }
                  }
              };
          },
      },
  };

</script>

<style scoped>

</style>
