<template>
  <div>
      <Header />
      <IssueList />
      <Footer />
  </div>
</template>

<script>
    import IssueList from '../../components/issues/listIssue';
    import Header from '../../components/header/header';
    import Footer from '../../components/footer/footer';

    export default {
      middleware: 'authenticated',
      layout: 'default',
      name: 'CreateIssue',
      asyncData () {
        return new Promise((resolve) => {
          setTimeout(function () {
            resolve({ name: 'world' })
          }, 1000)
        })
      },
      components: {
        IssueList,
        Header,
        Footer
      }
    }
</script>

<style scoped>
.container {
  font-size: 20px;
  text-align: center;
  padding-top: 100px;
}
</style>
