<template>
  <div class="container-main el-container">
    <Sidebar />
    <div class="content-main create-issue">
        <h3 class="title">Ghi nhận sự cố</h3>
        <FormCreateIssue
            v-if="form"
            :form="form"
            :userdata="me"
            :filelist="fileList"
            @my-event="create($event)"
            />
        <div class="space"></div>
    </div>
  </div>
</template>

<script>
import {CREATE_ISSUE} from '../../apollo/gql/issue';
import Sidebar from '../../components/sidebar/sidebar-left';
import FormCreateIssue from './formCreateIssue';
import {QUERY_USER, ALL_USER} from '../../apollo/gql/auth';

// Component def 
export default {
    name: 'CreateIssue',
    components: {
        Sidebar,
        FormCreateIssue
    },
    // Local state
    data: () => ({
        form: {
            authorID: '',
            assignID: '',
            vendorIssueName: '',
            vendorIssueDescription: '',
            vendorID: '',
            vendorIssueStatus: '',
            isDate: '',
            vendorLabels: '',
        },
        activeName: 'infor',
        errors: [],
        fileList: ''
    }),
    // Apollo GraphQL
    apollo: {
        me: {
            query: QUERY_USER,
            fetchPolicy: 'network-only',
        },
        users: {
            query: ALL_USER,
            fetchPolicy: 'network-only',
        },
    },
    methods: {
        create(event){
            // console.log(event);
            if(!event.form.vendorIssueName){
                this.$notify.error({
                    title: 'Thông báo',
                    message: 'Tiêu đề không được bỏ trống',
                });
                return;
            }
            if(!event.form.vendorIssueDescription){
                this.$notify.error({
                    title: 'Thông báo',
                    message: 'Mô tả bài viết không được bỏ trống',
                });
                return;
            }
            if(!event.form.vendorID){
                this.$notify.error({
                    title: 'Thông báo',
                    message: 'Nhà cung cấp không được bỏ trống',
                });
                return;
            }
            if(!event.form.vendorIssueStatus){
                this.$notify.error({
                    title: 'Thông báo',
                    message: 'Trạng thái không được bỏ trống',
                });
                return;
            }
            if(!event.form.isDate){
                this.$notify.error({
                    title: 'Thông báo',
                    message: 'Ngày sảy ra sự cố không được bỏ trống',
                });
                return;
            }
            if(!event.form.vendorLabels){
                this.$notify.error({
                    title: 'Thông báo',
                    message: 'Loại sự cố không được bỏ trống',
                });
                return;
            }
            if(!event.form.assignID){
                this.$notify.error({
                    title: 'Thông báo',
                    message: 'Người xử lý không được bỏ trống',
                });
                return;
            }
            event.form.authorID = event.authorID;
            event.form.attachFile = event.fileList ? JSON.stringify(event.fileList) : '';
            event.form.isDeadline = "";
            event.form.isDateDone = "";
            if(this.loading) return;
            this.loading = true;
            this.$apolloProvider.clients.defaultClient.mutate({
                // Query
                mutation: CREATE_ISSUE,
                // Parameters
                variables: event.form
            }).then((data) => {
                if (data) {
                    this.$notify.success({
                        title: 'Thành công',
                        message: 'Đã ghi nhận thành công ',
                    });
                    this.$router.push({path: "/issue/list"});
                }
                this.loading = false;
            }).catch(({graphQLErrors}) => {
                if(graphQLErrors){
                    for (let i = 0; i < graphQLErrors.length; i++) {
                        if (graphQLErrors[i].validation) {
                            Object.keys(graphQLErrors[i].validation).forEach(key => {
                                for (let j = 0; j < graphQLErrors[i].validation[key].length; j++) {
                                    setTimeout(_=>{
                                        this.$notify.error({
                                            title: 'Thông báo',
                                            message: graphQLErrors[i].validation[key][j],
                                        });
                                    })

                                }
                            });
                        } else {
                            this.$notify.error({
                                title: 'Thông báo',
                                message: graphQLErrors[i].message,
                            });
                        }
                    }
                }
                this.loading = false;
            })
        },
        onBack(){
            // this.$notify.error({
            //     title: 'Thông báo',
            //     message: 'Tiêu đề không được bỏ trống',
            // })
            this.$router.push({path: "/dashboard"});
        },    
    }
  // Computed properties
};

</script>
