<template>
  <div class="container-main el-container">
    <Sidebar />
    <div class="content-main create-issue">
        <h3 class="title">Sửa ghi nhận sự cố</h3>
        <FormCreateIssue
            v-if="getIssueByID"
            :form="getIssueByID"
            :userdata="getIssueByID.author"
            :filelist="this.fileList"
            @my-event="update($event)"/>
        <div class="space"></div>
    </div>
  </div>
</template>

<script>
import {CREATE_ISSUE, ISSUE_VIEW, UPDATE_ISSUE} from '../../apollo/gql/issue';
import Sidebar from '../../components/sidebar/sidebar-left';
import FormCreateIssue from './formCreateIssue';

// Component def 
export default {
    name: 'EditIssue',
    components: {
        Sidebar,
        FormCreateIssue
    },
    // Local state
    data: () => ({
        errors: [],
    }),
    // Apollo GraphQL
    apollo: {
        getIssueByID: {
            query: ISSUE_VIEW,
            variables() {
                return {
                    id: this.$route.params.id,
                }
            },
            fetchPolicy: 'network-only'
        }
    },
    methods: {
        update(event){
            if(!event.form.vendorIssueName){
                this.$notify.error({
                    title: 'Thông báo',
                    message: 'Tiêu đề không được bỏ trống',
                });
                return;
            }
            if(!event.form.vendorIssueDescription){
                this.$notify.error({
                    title: 'Thông báo',
                    message: 'Mô tả bài viết không được bỏ trống',
                });
                return;
            }
            if(!event.form.vendorID){
                this.$notify.error({
                    title: 'Thông báo',
                    message: 'Nhà cung cấp không được bỏ trống',
                });
                return;
            }
            if(!event.form.vendorIssueStatus){
                this.$notify.error({
                    title: 'Thông báo',
                    message: 'Trạng thái không được bỏ trống',
                });
                return;
            }
            if(!event.form.isDate){
                this.$notify.error({
                    title: 'Thông báo',
                    message: 'Ngày sảy ra sự cố không được bỏ trống',
                });
                return;
            }
            if(!event.form.vendorLabels){
                this.$notify.error({
                    title: 'Thông báo',
                    message: 'Loại sự cố không được bỏ trống',
                });
                return;
            }
            if(event.form.vendorIssueStatus != "Complete"){
                event.form.isDateDone = "";
            }
            if(!event.form.issueDirection){
                event.form.issueDirection = "";
            }
            event.form.authorID = event.authorID;
            event.form.attachFile = event.fileList ? JSON.stringify(event.fileList) : '';
            event.form.isDeadline = "";
            
            const loading = this.$loading({
                lock: true,
                text: 'Vui lòng chờ !',
                spinner: 'el-icon-loading',
                background: 'rgba(255, 255, 255, 0.7)'
            });
            
            this.$apolloProvider.clients.defaultClient.mutate({
                // Query
                mutation: UPDATE_ISSUE,
                // Parameters
                variables: event.form
            }).then((data) => {
                if (data.data) {
                    this.$notify.success({
                        title: 'Thành công',
                        message: 'Đã sửa thành công',
                    });
                    setTimeout(() => {
                        loading.close();
                        this.$router.push({
                            path: "/issue/list"
                        })
                    }, 1500);
                    this.$apollo.queries.getAllIssue.refresh();
                    this.$apollo.queries.AllIssue.refresh();
                }
            }).catch(({graphQLErrors}) => {
                setTimeout(() => {
                    loading.close();
                }, 1500);
                if(graphQLErrors){
                    for (let i = 0; i < graphQLErrors.length; i++) {
                        if (graphQLErrors[i].validation) {
                            Object.keys(graphQLErrors[i].validation).forEach(key => {
                                for (let j = 0; j < graphQLErrors[i].validation[key].length; j++) {

                                    setTimeout(_=>{
                                        this.$notify.error({
                                            title: 'Lỗi',
                                            message: graphQLErrors[i].validation[key][j],
                                        });
                                    })
                                }
                            });
                        } else {
                            setTimeout(() => {
                                loading.close();
                            }, 1500);
                            this.$notify.error({
                                title: 'Lỗi',
                                message: graphQLErrors[i].message,
                            });
                        }
                    }
                }
                this.loading = false;
            })
        }
    },
  // Computed properties
    computed: {
        fileList: function () {
            return {
                'data':this.getIssueByID.attachFile
            };
        },
        dateComplete: function () {
            return Date(Date.now()).toString();
        }
    }
};

</script>
