<template>
    <el-card
        shadow="always">
        <el-form
            ref="form"
            :model="form"
            class="post-form"
            label-position="top"
            label-width="200px">
            <el-row :gutter="20">
                <el-col 
                    :sm="24" 
                    :xs="24">
                    <h5><span class="text-danger">*</span> Tên sự cố:</h5>
                    <el-form-item>
                        <el-input 
                            v-model="form.vendorIssueName" 
                            placeholder="Nhập tên sự cố"/>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col 
                    :sm="6" 
                    :xs="24">
                    <h5><span class="text-danger">*</span> Nhà cung cấp:</h5>
                    <el-select v-model="form.vendorID" clearable placeholder="Nhà cung cấp">
                        <el-option
                        v-for="item in AllVendor"
                        :key="item.id"
                        :label="item.vendorName"
                        :value="item.id">
                        </el-option>
                    </el-select>
                </el-col>

                <el-col 
                    :sm="6" 
                    :xs="24" v-if="form.isDate">
                    <h5><span class="text-danger">*</span> Ngày sự cố:</h5>
                    <el-date-picker
                    v-model="form.isDate"
                    type="datetime"
                    placeholder="Chọn ngày và giờ"
                    default-time="12:00:00"
                    :disabled="true">
                    </el-date-picker>
                </el-col>
                <el-col 
                    :sm="6" 
                    :xs="24" v-if="!form.isDate">
                    <h5><span class="text-danger">*</span> Ngày sự cố:</h5>
                    <el-date-picker
                    v-model="form.isDate"
                    type="datetime"
                    placeholder="Chọn ngày và giờ"
                    default-time="12:00:00">
                    </el-date-picker>
                </el-col>

                <el-col 
                    :sm="6" 
                    :xs="24">
                    <h5><span class="text-danger">*</span> Tình trạng:</h5>
                    <el-select v-model="form.vendorIssueStatus" clearable placeholder="Tình trạng">
                        <el-option
                        v-for="item in statusOptions"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col 
                    :sm="6" 
                    :xs="24">
                    <h5><span class="text-danger">*</span> Phân loại sự cố:</h5>
                    <el-select v-model="form.vendorLabels" clearable placeholder="Loại sự cố">
                        <el-option
                        v-for="item in typeOptions"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col 
                    :sm="12" 
                    :xs="24">
                    <h5><span class="text-danger"></span> Người ghi nhận:</h5>
                    <el-input
                        :placeholder="'<'+userdata.email+'> <'+userdata.name+'>'"
                        v-model="authorID"
                        :disabled="true">
                    </el-input>
                </el-col>
                <el-col 
                    :sm="12" 
                    :xs="24">
                    <h5><span class="text-danger"></span> Người xử lý:</h5>
                    <el-select v-model="form.assignID" clearable placeholder="Người xử lý">
                        <el-option
                        v-for="item in users"
                        :key="item.id"
                        :label="item.name+' ('+item.email+')'"
                        :value="item.id">
                        </el-option>
                    </el-select>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col 
                    :sm="24" 
                    :xs="24">
                    <h5><span class="text-danger">*</span> Nguyên nhân:</h5>
                    <el-form-item>
                        <el-input
                            v-model="form.vendorIssueDescription"
                            :rows="10"
                            min="135"
                            type="textarea" 
                            placeholder="Nhập mô tả sự cố"/>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20" v-if="form.vendorIssueName">
                <el-col 
                    :sm="24" 
                    :xs="24">
                    <h5> Hướng giải quyết:</h5>
                    <el-form-item>
                        <el-input
                            v-model="form.issueDirection"
                            :rows="10"
                            min="135"
                            type="textarea" 
                            placeholder="Nhập hướng giải quyết"/>
                    </el-form-item>
                </el-col>
                <el-col 
                    :sm="6" 
                    :xs="24">
                    <h5> Ngày hoàn thành:</h5>
                    <el-date-picker
                    v-model="form.isDateDone"
                    type="datetime"
                    placeholder="Chọn ngày và giờ"
                    default-time="12:00:00"
                    class="date-done">
                    </el-date-picker>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col 
                    :sm="24" 
                    :xs="24">
                    <h5> Upload biên bản:</h5>
                    <el-upload
                        class="upload-file"
                        drag
                        action="http://api.flc.vn:3000/upload/fileUpload"
                        :on-preview="handlePreview"
                        :on-remove="handleRemove"
                        :file-list="arrFile"
                        :on-success="handleSuccess"
                        :before-remove="beforeRemove"
                        name="fileFlc"
                        multiple>
                    <i class="el-icon-upload"></i>
                    <div class="el-upload__text">Kéo tập tin vào hoặc <em>nhấn vào để upload</em></div>
                    </el-upload>
                </el-col>
            </el-row>
            <el-form-item class="mt-3">
                <el-button @click="onSubmit" type="primary"><i class="el-icon-check"></i> Ghi nhận</el-button>
                <el-button @click="onBack"><i class="el-icon-back"></i> Quay lại</el-button>
            </el-form-item>
        </el-form>
    </el-card>
</template>

<script>
import {ALL_VENDOR_QUERY} from '../../apollo/gql/vendor';
import {ALL_USER} from '../../apollo/gql/auth';
import Sidebar from '../../components/sidebar/sidebar-left';
import _ from 'lodash';

// Component def 
export default {
    name: 'FormCreateIssue',
    components: {
        Sidebar
    },
    props: {
        form: {
            type: Object,
            default() {
                return {

                };
            },
        },
        userdata: {
            type: Object,
            default(){
                return {}
            }
        },
        filelist:{
            type:  Object,
            default(){
                return {}
            }            
        }
    },
  // Local state
    data() {
        return {
        filelist: [],
        arrFile: this.filelist ? JSON.parse(this.filelist.data) : [],
        dataTag: [],
        AllVendor: [],
        vendorID: '',
        isDate: '',
        authorID: '',
        assignID: '',
        vendorIssueStatus: '',
        vendorLabels: '',
        statusOptions: [{
            value: 'Open',
            label: 'Open'
            }, {
            value: 'Complete',
            label: 'Complete'
            }, {
            value: 'Hold',
            label: 'Hold'
            }, {
            value: 'Cancel',
            label: 'Cancel'
            }],
        typeOptions: [{
            value: 'Hardware',
            label: 'Hardware'
            }, {
            value: 'Software',
            label: 'Software'
            }, {
            value: 'System',
            label: 'System'
            }, {
            value: 'Other',
            label: 'Other'
            }],
        };
    },
    // Apollo GraphQL
    apollo: {
        AllVendor: {
            query: ALL_VENDOR_QUERY,
            fetchPolicy: 'network-only',
            variables() {
                return {
                    id: '',
                }
            }
        },
        users: {
            query: ALL_USER,
            fetchPolicy: 'network-only',
        },
    },
    methods: {
        onBack(){
            this.$router.push({path: "/issue/list"});
        },
        beforeRemove(file, fileList) {
            return this.$confirm(`Cancel the transfert of ${ file.name } ?`);
        },
        handleRemove(file, fileList, arrFile) {
            var vm = this;
            vm.arrFile.splice(vm.arrFile.findIndex(item => item.uid === file.uid), 1)
        },
        handlePreview(file, fileList, arrFile) {
            console.log(file, arrFile);
        },
        handleSuccess(response, file, fileList, arrFile ) {
            var vm = this
            vm.arrFile.push({'name': response.filename, 'url': 'http://api.flc.vn:3000/public/files/uploads/'+response.filename})
        },
        onSubmit(){
            this.$emit('my-event',{'form':this.form, 'authorID': this.userdata.id, 'fileList': this.arrFile });
        },
    },
     // Computed properties
    mounted() {
        // this.fileList = this.filelist
    }
};

</script>
<style scoped>
    .create-issue .el-select {
        width: 100%;
        margin-bottom: 22px;
    }

    .create-issue .el-date-editor {
        width: 100% !important;
    }

    .date-done {
        margin-bottom: 20px;
    }
</style>