<template>
  <div class="container-main el-container">
    <Sidebar />
    <div class="content-main">
        <el-row class="header-main">
            <el-col :span="16"><h3 class="title">Danh sách sự cố</h3></el-col>
            <el-col :span="8" align="right">
                <el-button @click="listAction" type="success" class="create"><i class="el-icon-tickets"></i> List</el-button>
                <el-button @click="kanbanAction" type="primary" class="edit"><i class="el-icon-s-grid"></i> Kanban</el-button>
            </el-col>
        </el-row>
        <el-row>
            <el-col 
                :sm="8" 
                class="search">
                <el-input
                placeholder="Nhập từ khóa tìm kiếm"
                prefix-icon="el-icon-search"
                v-model="search">
                </el-input>
            </el-col>
        </el-row>
        <el-table
            ref="multipleTable"
            :data="getAllIssue"
            style="width: 100%"
            border
            @selection-change="handleSelectionChange">
                <!-- <el-table-column
                type="selection"
                width="40"
                align="center">
                </el-table-column> -->
                <el-table-column
                label="Tên sự cố"
                width="">
                    <template slot-scope="scope">
                        <span style="margin-left: 10px">
                            <NuxtLink :to="'/issue/'+scope.row.id">
                                {{ scope.row.vendorIssueName }}
                            </NuxtLink>
                        </span>
                    </template>
                </el-table-column>
                <el-table-column
                label="Trạng thái"
                width="130"
                align="center">
                    <template slot-scope="scope">
                        <span style="margin-left: 10px">{{ scope.row.vendorIssueStatus }}</span>
                    </template>
                </el-table-column>
                <el-table-column
                label="Nhãn"
                width="130"
                align="center">
                    <template slot-scope="scope">
                        <span style="margin-left: 10px">{{ scope.row.vendorLabels }}</span>
                    </template>
                </el-table-column>
                <el-table-column
                label="Ngày sự cố"
                width="160"
                align="center">
                    <template slot-scope="scope">
                        <span style="margin-left: 10px">{{scope.row.isDate | formatDate}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                label="Nhà cung cấp"
                width="150">
                    <template slot-scope="scope" v-if="scope.row.vendor">
                        <el-popover trigger="hover" placement="top">
                            <p><strong>Tên NCC:</strong> {{ scope.row.vendor.vendorName }}</p>
                            <p><strong>Đánh giá:</strong> {{ scope.row.vendor.vendorRate }}</p>
                            <p><strong>SĐT:</strong> {{ scope.row.vendor.vendorPhone }}</p>
                            <p><strong>Ghi chú:</strong> {{ scope.row.vendor.vendorNote }}</p>
                        <div slot="reference" class="name-wrapper">
                            <el-tag size="medium">{{ scope.row.vendor.vendorName}}</el-tag>
                        </div>
                        </el-popover>
                    </template>
                </el-table-column>
                <el-table-column
                label="Tác vụ"
                width="130"
                align="center">
                <template slot-scope="scope">
                    <el-button
                    size="mini"
                    @click="handleEdit(scope.$index, scope.row)"><i class="el-icon-edit"></i></el-button>
                    <el-button
                    size="mini"
                    type="danger"
                    @click="handleDelete(scope.$index, scope.row)"><i class="el-icon-delete"></i></el-button>
                </template>
                </el-table-column>
        </el-table>
        <div class="space"></div>
        <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            background
            layout="prev, pager, next"
            :total = totals>
        </el-pagination>
        <div class="space"></div>
    </div>
  </div>
</template>

<script>
import {ISSUE_QUERY, ALL_ISSUE_QUERY, DELETE_ISSUE} from '../../apollo/gql/issue';
import Sidebar from '../../components/sidebar/sidebar-left';

// Component def 
export default {
  name: 'IssueList',
  components: {
    Sidebar
  },
  // Local state
  data: () => ({
    issues: [],
    loading: 0,
    getAllIssue: [],
    multipleSelection: [],
    totals: 0,
    search : ''
  }),
  // Apollo GraphQL
  apollo: {
    getAllIssue: {
        query: ISSUE_QUERY,
        variables() {
            return {
                page: 1,
                limit: 10,
                search: this.search
            }
        },
        fetchPolicy: 'network-only',
        result ({ data, loading, networkStatus }) {
            if (!data) {
                this.$nuxt.error({ statusCode: 404, message: 'Authenticated Fail' });
            }
        }
    },
    AllIssue: {
        query: ALL_ISSUE_QUERY,
        fetchPolicy: 'network-only',
        result ({ data, loading, networkStatus }) {
            this.totals = Object.keys(data.AllIssue).length;
        }
    },
  },
    methods: {
        handleEdit(index, row) {
            // console.log(index, row);
            this.$router.push({path: "/issue/edit/"+row.id});
        },
        handleDelete(index, row) {
            // console.log(index, row);
            this.$confirm('Bạn có xóa ghi nhận sự cố không ?', 'Thông báo', {
            confirmButtonText: 'Đồng ý',
            cancelButtonText: 'Hủy bỏ',
            type: 'warning'
            }).then(() => {
                this.$apollo.mutate({
                    mutation: DELETE_ISSUE,
                    variables: {
                        id: row.id
                    },
                }).then(data => {
                    if (data.data) {
                        this.$apollo.queries.getAllIssue.refresh();
                        this.$apollo.queries.AllIssue.refresh();
                        this.$message({
                            type: 'success',
                            message: data.data.deleteIssue.message
                        });
                        // console.log(data.data.deleteIssue);
                    }

                }).catch(({graphQLErrors}) => {
                    if (graphQLErrors) {
                        this.errors = graphQLErrors;
                    }
                });
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: 'Đã hủy thao tác xóa thành công'
                });          
            });
        },
        toggleSelection(rows) {
            if (rows) {
                rows.forEach(row => {
                this.$refs.multipleTable.toggleRowSelection(row);
                });
            } else {
                this.$refs.multipleTable.clearSelection();
            }
        },
            handleSelectionChange(val) {
            this.multipleSelection = val;
        },
        handleSizeChange(val) {
            console.log(`${val} items per page`);
        },
        handleCurrentChange(val) {
            // Fetch more data and transform the original result
            this.$apollo.queries.getAllIssue.fetchMore({
                // New variables
                variables: {
                    limit: 10,
                    page: val
                },
                // Transform the previous result with new data
                updateQuery: (previousResult, {fetchMoreResult}) => {
                    const newData = fetchMoreResult.getAllIssue;
                    // console.log(fetchMoreResult);
                    return {
                        __typename: previousResult.getAllIssue.__typename,
                        // Merging the tag list
                        // getAllIssue: [...previousResult.getAllIssue, ...newData]
                        getAllIssue: [...newData]
                    }
                },
            })
        },
        listAction(){
            this.$router.push({path: "/issue/list"});
        },
        kanbanAction(){
            this.$router.push({path: "/list"});
        },
    }
  // Computed properties
};

</script>
<style scoped>
    .search {
        padding-bottom: 20px;
    }
</style>