<template>
  <div class="container-main el-container">
    <Sidebar />
    <div class="content-main view-issue">
        <el-row>
            <el-col :span="16"><h3 class="title">Chi tiết ghi nhận sự cố</h3></el-col>
            <el-col :span="8" align="right">
                <el-button @click="createIssue" type="success" class="create"><i class="el-icon-plus"></i> Ghi nhận sự cố</el-button>
                <el-button @click="editVendor" type="primary" class="edit"><i class="el-icon-edit"></i> Sửa thông tin</el-button>
            </el-col>
        </el-row>
        <div class="detailt">
            <div class="info" v-if="getIssueByID">
                <div class="item"><strong>Tên sự cố: </strong> {{ getIssueByID.vendorIssueName }}</div>
                <div class="item"><strong>Ngày sự cố: </strong> {{ getIssueByID.isDate | formatDate}}</div>
                <div class="item"><strong>Nguyên nhân: </strong> {{ getIssueByID.vendorIssueDescription }}</div>
                <div class="item"><strong>Hướng xử lý: </strong> {{ getIssueByID.issueDirection }}</div>
                <div class="item"><strong>Trạng thái: </strong> {{ getIssueByID.vendorIssueStatus }}</div>
                <div class="item" :v-if="getIssueByID.vendorIssueStatus == 'Complete'"><strong>Ngày hoàn thành: </strong> {{ getIssueByID.isDateDone | formatDate}}</div>
                <div class="item"><strong>Loại sự cố: </strong> {{ getIssueByID.vendorLabels }}</div>
                <div class="item"><strong>Nhà cung cấp: </strong>
                    <NuxtLink :to="'/vendor/'+getIssueByID.vendor.id">
                        {{ getIssueByID.vendor.vendorName }}
                    </NuxtLink>
                </div>
                <div class="item" v-if="getIssueByID.author"><strong>Người ghi nhận: </strong> {{ getIssueByID.author.name }} ({{ getIssueByID.author.email }})</div>
                <div class="item" v-if="getIssueByID.authorAssign"><strong>Người xử lý: </strong> {{ getIssueByID.authorAssign.name }} ({{ getIssueByID.authorAssign.email }})</div>
                <div class="item attach-file" v-if="getIssueByID.authorAssign">
                    <strong>Biên bản sự cố: </strong>
                    <ul>
                        <li v-for="item in fileList" :key="item.name" >
                            <a :href="item.url">{{ item.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="space"></div>
        <el-button @click="onBack"><i class="el-icon-back"></i> Quay lại</el-button>
        <div class="space"></div>
    </div>
  </div>
</template>

<script>
import {ISSUE_VIEW} from '../../apollo/gql/issue';
import Sidebar from '../../components/sidebar/sidebar-left';

// Component def 
export default {
    name: 'ViewIssue',
    components: {
        Sidebar
    },
    // Local state
    data: () => ({
        errors: [],
    }),
    // Apollo GraphQL
    apollo: {
       getIssueByID: function () {
            return {
                query: ISSUE_VIEW,
                variables() {
                    return {
                        id: this.$route.params.id,
                    }
                },
                fetchPolicy: 'network-only',
                result ({ data, loading, networkStatus }) {
                  // console.log(data.getVendorByID);
                  if (!data && statusError === true) {
                    this.$nuxt.error({ statusCode: 404, message: 'Ghi nhận sự cố này đã bị xóa hoặc không tồn tại.' })
                    statusError = false;
                  }
                }
            };
        },
    },
    methods: {
        onBack(){
            this.$router.push({path: "/issue/list"});
        },
        createIssue(){
            this.$router.push({path: "/issue/create"});
        },
        editVendor(){
            this.$router.push({path: "/issue/edit/"+this.$route.params.id});   
        }
    },
  // Computed properties
    computed: {
        fileList: function () {
            return this.getIssueByID.attachFile ? JSON.parse(this.getIssueByID.attachFile) : []
        }
    }
};

</script>
<style scoped>
    .content-main{
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        margin: 20px;
        background: #fff;
    }
    .info {
        border: 1px solid #eee;
        padding: 20px;
    }
    .item{
        padding-bottom: 10px;
    }
    .attach-file ul {
        padding-top: 10px;
    }
</style>